<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyGunplaList</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../../mygunplalist/view/home/home.css" />
        <link rel="stylesheet" type="text/css" href="../../../mygunplalist/RecursosGenerales/menu/menu.css" />
        <link rel="stylesheet" href="../../../mygunplalist/RecursosGenerales/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
        <nav id="menu" class="navbar navbar-expand-lg navbar-red navbar-dark"></nav>
        
        <div class="principalBackground">
            
            <div class="content">

                <h1 class="tituloSlider">ULTIMAS SALIDAS</h1>
                <div class="slider">

                    <div class="itemSlider selected" id="itemSlider1" onclick="ampliarTarjetaSlider(this)">
                        <img src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" class="imgSlider" id="imgSlider1">
                        <p class="contenedorNotaModelKitSlider" id="contenedorNotaModelKitSlider1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span id="notaModelKit1">9.6</span>                                
                        </p>
                        <a class="nombreModelKitSlider" id="nombreModelKit1">GUNDAM PG UNLEASHED RX-78-2</a>
                    </div>

                    <div class="itemSlider" id="itemSlider2" onclick="ampliarTarjetaSlider(this)">
                        <img src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" class="imgSlider" id="imgSlider2">
                        <p class="contenedorNotaModelKitSlider" id="contenedorNotaModelKitSlider2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span id="notaModelKit2">9.6</span>                                
                        </p>
                        <a class="nombreModelKitSlider" id="nombreModelKit2">GUNDAM PG UNLEASHED RX-78-2</a>
                    </div>

                    <div class="itemSlider" id="itemSlider3" onclick="ampliarTarjetaSlider(this)">
                        <img src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" class="imgSlider" id="imgSlider3">
                        <p class="contenedorNotaModelKitSlider" id="contenedorNotaModelKitSlider3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span id="notaModelKit3">9.6</span>                                
                        </p>
                        <a class="nombreModelKitSlider" id="nombreModelKit3">GUNDAM PG UNLEASHED RX-78-2</a>
                    </div>

                    <div class="itemSlider" id="itemSlider4" onclick="ampliarTarjetaSlider(this)">
                        <img src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" class="imgSlider" id="imgSlider4">
                        <p class="contenedorNotaModelKitSlider" id="contenedorNotaModelKitSlider4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span id="notaModelKit4">9.6</span>                                
                        </p>
                        <a class="nombreModelKitSlider" id="nombreModelKit4">GUNDAM PG UNLEASHED RX-78-2</a>
                    </div>

                    <div class="itemSlider" id="itemSlider5" onclick="ampliarTarjetaSlider(this)">
                        <img src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" class="imgSlider" id="imgSlider5">
                        <p class="contenedorNotaModelKitSlider" id="contenedorNotaModelKitSlider5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span id="notaModelKit5">9.6</span>                                
                        </p>
                        <a class="nombreModelKitSlider" id="nombreModelKit5">GUNDAM PG UNLEASHED RX-78-2</a>
                    </div>

                </div>
            
                <div class="primeraFila">
                    <div class="contenedorDescripcion">
                        <h2 class="tituloDescripcion">QUE<br> PUEDES<br> HACER<br> AQUI</h2>
                        <p class="textoDescripcion">MyGunplaList es una página web diseñada para la gente de la comunidad del gunpla.
                            Para todos aquellos que en vuestros ratos libres os dedicais a construir, pintar y 
                            personalizar "robotitos de plástico", esta es vuestra web.
                            Aquí podreis llevar un registro de los <a href="modelKits">model kits</a> que os gustan y vais construyendo,
                            así como de los que os gustaría construir.
                            También podreis puntuar todos los <a href="modelKits">model kits</a> que construyais en diferentes aspectos y
                            ver las puntuaciones que dan otros <a href="usuarios">usuarios</a>.
                            Gracias a todo esto, tambien podreis visitar un ranking donde se mostrarán todos los 
                            <a href="top">model kits ordenados</a>, bien por nota o bien por popularidad.
                            Si todo esto te gusta, ¡ No esperes más y <a href="login">registrate</a> !
                        </p>
                    </div>

                    <div class="contenedorTopModelKits">

                        <h2 class="tituloTopModelKits"> <a href="top">TOP </a> 5 MODEL KITS</h2>

                        <a href="" id="topModelKitEnlace1">
                            <div class="topModelKit">
                                <div class="topModelKitNota" id="topModelKitNota1">
                                    9.97
                                </div>
                                <div class="topModelKitDatos">
                                    <div class="topModelKitContenedorImg">
                                        <img class="topModelKitImg img-fluid" src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" id="topModelKitImagen1">
                                    </div>
                                    <div class="topModelKitDatosTexto">
                                        <h3 class="topModelKitNombre" id="topModelKitNombre1">GUNDAM PG UNLEASHED RX-78-2</h3>
                                        <div class="topModelKitDatosCortos">
                                            <p class="topModelkitFSalida" id="topModelKitFecha1">2021 - 12 - 19</p>
                                            <p class="topModelkitGrado" id="topModelKitGrado1">PG</p>
                                            <p class="topModelkitFEscala" id="topModelKitEscala1">1 / 60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" id="topModelKitEnlace2">
                            <div class="topModelKit">
                                <div class="topModelKitNota"  id="topModelKitNota2">
                                    9.97
                                </div>
                                <div class="topModelKitDatos">
                                    <div class="topModelKitContenedorImg">
                                        <img class="topModelKitImg img-fluid" src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt=""  id="topModelKitImagen2">
                                    </div>
                                    <div class="topModelKitDatosTexto">
                                        <h3 class="topModelKitNombre"  id="topModelKitNombre2">GUNDAM PG UNLEASHED RX-78-2</h3>
                                        <div class="topModelKitDatosCortos">
                                            <p class="topModelkitFSalida" id="topModelKitFecha2">2021 - 12 - 19</p>
                                            <p class="topModelkitGrado" id="topModelKitGrado2">PG</p>
                                            <p class="topModelkitFEscala" id="topModelKitEscala2">1 / 60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" id="topModelKitEnlace3">
                            <div class="topModelKit">
                                <div class="topModelKitNota"  id="topModelKitNota3">
                                    9.97
                                </div>
                                <div class="topModelKitDatos">
                                    <div class="topModelKitContenedorImg">
                                        <img class="topModelKitImg img-fluid" src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt=""  id="topModelKitImagen3">
                                    </div>
                                    <div class="topModelKitDatosTexto">
                                        <h3 class="topModelKitNombre" id="topModelKitNombre3">GUNDAM PG UNLEASHED RX-78-2</h3>
                                        <div class="topModelKitDatosCortos">
                                            <p class="topModelkitFSalida" id="topModelKitFecha3">2021 - 12 - 19</p>
                                            <p class="topModelkitGrado" id="topModelKitGrado3">PG</p>
                                            <p class="topModelkitFEscala" id="topModelKitEscala3">1 / 60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" id="topModelKitEnlace4">
                            <div class="topModelKit">
                                <div class="topModelKitNota"  id="topModelKitNota4">
                                    9.97
                                </div>
                                <div class="topModelKitDatos">
                                    <div class="topModelKitContenedorImg">
                                        <img class="topModelKitImg img-fluid" src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" id="topModelKitImagen4">
                                    </div>
                                    <div class="topModelKitDatosTexto">
                                        <h3 class="topModelKitNombre" id="topModelKitNombre4">GUNDAM PG UNLEASHED RX-78-2</h3>
                                        <div class="topModelKitDatosCortos">
                                            <p class="topModelkitFSalida" id="topModelKitFecha4">2021 - 12 - 19</p>
                                            <p class="topModelkitGrado" id="topModelKitGrado4">PG</p>
                                            <p class="topModelkitFEscala" id="topModelKitEscala4">1 / 60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" id="topModelKitEnlace5">
                            <div class="topModelKit">
                                <div class="topModelKitNota"  id="topModelKitNota5">
                                    9.97
                                </div>
                                <div class="topModelKitDatos">
                                    <div class="topModelKitContenedorImg">
                                        <img class="topModelKitImg img-fluid" src="http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp" alt="" id="topModelKitImagen5">
                                    </div>
                                    <div class="topModelKitDatosTexto">
                                        <h3 class="topModelKitNombre" id="topModelKitNombre5">GUNDAM PG UNLEASHED RX-78-2</h3>
                                        <div class="topModelKitDatosCortos">
                                            <p class="topModelkitFSalida" id="topModelKitFecha5">2021 - 12 - 19</p>
                                            <p class="topModelkitGrado" id="topModelKitGrado5">PG</p>
                                            <p class="topModelkitFEscala" id="topModelKitEscala5">1 / 60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                </div>
                
            </div>
        </div>

        <footer class="footer">
            
        </footer>
        <script src="../../../mygunplalist/RecursosGenerales/jquery-3.6.0.js"></script>
        <script src="../../../mygunplalist/RecursosGenerales/menu/menu.js"></script>
        <script src="../../../mygunplalist/view/home/home.js"></script>
    </body>
</html>