body{
    
}
button{
    font-family: 'mecha';
}
.principalBackground{
    width: 100%;
    background: url("../../../mygunplalist/RecursosGenerales/img/wallpaperModelKits.webp") no-repeat center center fixed;
    background-size: cover;
}
.content{
    width: 90%;
    background: #ffffffb8;
    margin-left: 5%;
    padding-top: 50px;
    margin-top: 93px;
    padding-bottom: 50px;
    min-height: 93vh;
}
.tituloPrincipal{
    font-family: 'mecha';
    background: linear-gradient(90deg, rgba(24,75,186,1) 15%, rgba(51,153,255,1) 30%, rgba(51,153,255,0) 100%);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tituloPrincipal h1{
    width: 100%;
    height: 80%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    font-size: 4em;
    color: #E60B0B;
    border-bottom: 10px solid #FFD500;
}

/*FILTROS*/
.filtros{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgba(24,75,186,1) 15%, rgba(51,153,255,1) 30%, rgba(51,153,255,0) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.btn-outline-secondary, .filtros input, .filtros select, .filtros span{
    border: 2px solid #2A3439;
    color: #2A3439;
}

#btnBuscador{
    border-top: 2px solid #2A3439;
    border-bottom: 2px solid #2A3439;
    border-right: 2px solid #2A3439; 
    border-left: 1px solid #2A3439;
}

.filtrosBuscador{
    width: 20%;
    margin: 0px !important;
}

.form-control:focus, .form-select:focus{
    color: #2A3439;
    background-color: #fff;
    border-color: #2A3439;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(42 52 57 / 25%);
}

.filtros span, .filtros label{
    background: #2A3439;
    color: white;
    font-weight: bold;
}


/*NO ENCUENTRA MODEL KIT*/
.noEncuentraModelKit{
    width: 50%;
    color: white;
    background: #2A3439;
    height: 300px;
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noEncuentraModelKit p{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.noEncuentraModelKit span{
    font-size: 0.6em;
    font-weight: 400;
    text-align: center;
}
.noEncuentraModelKit button, .noEncuentraModelKit a{
    font-family: 'mecha';
    font-size: 2em;
    color: #FFD500;
    background: #2A3439;
    border-color: #FFD500;
    transition: 0.35s;
}

.noEncuentraModelKit button:hover, .noEncuentraModelKit a:hover{
    color: #2A3439;
    background: #FFD500;
}
.noEncuentraModelKit button:focus{
    color: #2A3439;
    background: #FFD500;
    box-shadow: 0 0 0 0.25rem rgb(255 213 0 / 50%);
}



