@import url('../../../mygunplalist/RecursosGenerales/fonts/pdark.ttf');
@font-face {
     font-family:"mecha"; 
     src: url("../../../mygunplalist/RecursosGenerales/fonts/pdark.ttf") format("truetype"); 
    }

body {
    background-color: #eee
}

.navbar-nav{
    margin-left: 5%;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 20px;
    color: #fff
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white
}

.navbar-collapse{
    font-family: "mecha";
    width: 30%;
    flex-grow: 0;
}

.nav-link {
    color: #fff !important;
    transition: 0.35s;
    border-radius: 5px;
}
.nav-link:hover {
    color: #2A3439 !important;
    background-color: #FFD500;
    
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background: linear-gradient(to bottom, #990000 0%, #e60b0b 100%);
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
    border-bottom: 10px solid #FFD500;
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px;
}
.navbar-brand g{
    transition: 0.35s;
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%)
}

.navbar-brand:hover {
    color: #fff
}

.navbar-red {
    color: #fff;
    border-bottom: 3px solid #2A3439;
    background: linear-gradient(to bottom, #184bba 0%, #3399ff 100%);
    position: fixed;
    width: 100%;
    top: 0px;
}

.all-show {
    z-index: 10
}

/*BUSCADOR*/
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    display: flex;
    background-color: #2A3439;
    border-radius: 30px;
    padding: 10px;
}

.searcher-container{
    width: 30%;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#e60b0b;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e60b0b;
}

.search_input:focus{
    padding: 0 10px;
    width: 450px;
    caret-color:#e60b0b;
    transition: width 0.4s linear;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

/*LOGIN REGISTER BUTTON*/
#loginRegisterUserContainer{
    box-sizing: border-box;
    height: 46px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Login register*/
.loginRegisterButton{
    color: #fff !important;
    transition: 0.35s;
    border-radius: 5px;
    text-decoration: none;
    font-family: "mecha";
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.loginRegisterButton:hover{
    color: #2A3439 !important;
    background-color: #FFD500;
}

/*User*/
#userPageButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #ffffff;
    font-family: 'mecha';
    cursor: pointer;
    transition-timing-function: ease;
}
#userPageButtonImg{
    width: 80px;
    transition: 0.5s;
    border:0px;
    background-color: #2A3439;
}
#username{
    margin-left: 10%;
    margin-bottom: 0px;
    transition: 0.5s;
}
#logoutBtn{
    font-size: 30px;
    margin-left: 10%;
    transition: 0.5s;
}
#logoutBtn:hover{
    color: #FFD500;
    margin-left: 5%;
}

/*MODAL CERRAR SESION*/
#logoutModal{
    color: #2A3439;
}
.divUsuarioLogout{
    width: 100%;
}