<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyGunplaList</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../../mygunplalist/view/modelKits/modelKits.css" />
        <link rel="stylesheet" type="text/css" href="../../../mygunplalist/RecursosGenerales/menu/menu.css" />
        <link rel="stylesheet" href="../../../mygunplalist/RecursosGenerales/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <nav id="menu" class="navbar navbar-expand-lg navbar-red navbar-dark"></nav>
        <div class="principalBackground">
            <div class="content">
            
                <div class="tituloPrincipal">
                    <h1>MODEL KITS</h1>
                </div>
                <div class="filtros">

                    <div class="input-group filtrosNota">
                        <span class="input-group-text">Nota minima</span>
                        <input id="inputNotaMinima" type="number" aria-label="Nota minima" class="form-control" id="inputFiltroNotaMinima" value="0" step="any" min="0" max="10">
                        <span id="spanNotaMaxima" class="input-group-text">Nota maxima</span>
                        <input type="number" aria-label="Nota maxima" class="form-control" id="inputFiltroNotaMaxima" value="10" step="any" min="0" max="10">
                    </div>

                    <div class="input-group mb-3 filtrosGrado">
                        <label class="input-group-text gradoOrdenBuscarLabel" for="inputFiltrosGrado">Grado</label>
                        <select class="form-select" id="inputFiltrosGrado">
                          <option value="todos" selected>Todos</option>
                          <option value="SD">SD - Super Deformed</option>
                          <option value="EG">EG - Entry Grade</option>
                          <option value="HG">HG - High Grade</option>
                          <option value="MG">MG - Master Grade</option>
                          <option value="RG">RG - Real Grade</option>
                          <option value="PG">PG - Perfect Grade</option>
                          <option value="MS">MS - Mega Size</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 filtrosOrden">
                        <label class="input-group-text gradoOrdenBuscarLabel" for="inputFiltrosOrden">Orden</label>
                        <select class="form-select" id="inputFiltrosOrden">
                          <option value="fecha_salida">Fecha de salida</option>
                          <option value="nota">Nota</option>
                          <option value="popularidad">Popularidad</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 filtrosBuscador" >
                        <span class="input-group-text" id="btnBuscador"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">                        
                    </div>

                </div>

                <div class="modelKits">

                    <div class="modelKit">
                        <a class="modelKitLink">                        
                            <div class="ImgModelKit">

                            </div>
                            <div class="fondoAnimado">
                                <div class="datosModelKit">
                                    <p class="nombreModelKit">
                                        ZAKU II  RED COMET VER
                                    </p>
                                    <div class="contenedorGradoEscala">
                                        <p class="gradoModelKit">
                                            HG
                                        </p>
                                        <p class="escalaModelKit">
                                            1 / 144
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <p class="contenedorNotaModelKit">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span id="notaModelKit">9.85</span>                                
                            </p>
                            <div class="contenedorEstadoModelKit">
                                <div class="estadoModelKit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 
                                    <i class="fa fa-list enLista" aria-hidden="true"></i>                                    
                                </div>                                                          
                            </div>
                        </a>
                    </div>

                    <div class="modelKit">
                        <a class="modelKitLink">                        
                            <div class="ImgModelKit">

                            </div>
                            <div class="fondoAnimado">
                                <div class="datosModelKit">
                                    <p class="nombreModelKit">
                                        ZAKU II  RED COMET VER
                                    </p>
                                    <div class="contenedorGradoEscala">
                                        <p class="gradoModelKit">
                                            HG
                                        </p>
                                        <p class="escalaModelKit">
                                            1 / 144
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <p class="contenedorNotaModelKit">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span id="notaModelKit">9.85</span>                                
                            </p>
                            <div class="contenedorEstadoModelKit">
                                <div class="estadoModelKit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 
                                    <i class="fa fa-list enLista" aria-hidden="true"></i>                                    
                                </div>                                                          
                            </div>
                        </a>
                    </div>

                    <div class="modelKit">
                        <a class="modelKitLink">                        
                            <div class="ImgModelKit">

                            </div>
                            <div class="fondoAnimado">
                                <div class="datosModelKit">
                                    <p class="nombreModelKit">
                                        ZAKU II  RED COMET VER
                                    </p>
                                    <div class="contenedorGradoEscala">
                                        <p class="gradoModelKit">
                                            HG
                                        </p>
                                        <p class="escalaModelKit">
                                            1 / 144
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <p class="contenedorNotaModelKit">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span id="notaModelKit">9.85</span>                                
                            </p>
                            <div class="contenedorEstadoModelKit">
                                <div class="estadoModelKit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 
                                    <i class="fa fa-list enLista" aria-hidden="true"></i>                                    
                                </div>                                                          
                            </div>
                        </a>
                    </div>

                    <div class="modelKit">
                        <a class="modelKitLink">                        
                            <div class="ImgModelKit">

                            </div>
                            <div class="fondoAnimado">
                                <div class="datosModelKit">
                                    <p class="nombreModelKit">
                                        ZAKU II  RED COMET VER
                                    </p>
                                    <div class="contenedorGradoEscala">
                                        <p class="gradoModelKit">
                                            HG
                                        </p>
                                        <p class="escalaModelKit">
                                            1 / 144
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <p class="contenedorNotaModelKit">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span id="notaModelKit">9.85</span>                                
                            </p>
                            <div class="contenedorEstadoModelKit">
                                <div class="estadoModelKit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 
                                    <i class="fa fa-list enLista" aria-hidden="true"></i>                                    
                                </div>                                                          
                            </div>
                        </a>
                    </div>

                    <div class="modelKit">
                        <a class="modelKitLink">                        
                            <div class="ImgModelKit">

                            </div>
                            <div class="fondoAnimado">
                                <div class="datosModelKit">
                                    <p class="nombreModelKit">
                                        ZAKU II  RED COMET VER
                                    </p>
                                    <div class="contenedorGradoEscala">
                                        <p class="gradoModelKit">
                                            HG
                                        </p>
                                        <p class="escalaModelKit">
                                            1 / 144
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <p class="contenedorNotaModelKit">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span id="notaModelKit">9.85</span>                                
                            </p>
                            <div class="contenedorEstadoModelKit">
                                <div class="estadoModelKit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 
                                    <i class="fa fa-list enLista" aria-hidden="true"></i>                                    
                                </div>                                                          
                            </div>
                        </a>
                    </div>

                    <div class="modelKit">
                        <a class="modelKitLink">                        
                            <div class="ImgModelKit">

                            </div>
                            <div class="fondoAnimado">
                                <div class="datosModelKit">
                                    <p class="nombreModelKit">
                                        ZAKU II  RED COMET VER
                                    </p>
                                    <div class="contenedorGradoEscala">
                                        <p class="gradoModelKit">
                                            HG
                                        </p>
                                        <p class="escalaModelKit">
                                            1 / 144
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <p class="contenedorNotaModelKit">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span id="notaModelKit">9.85</span>                                
                            </p>
                            <div class="contenedorEstadoModelKit">
                                <div class="estadoModelKit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 
                                    <i class="fa fa-list enLista" aria-hidden="true"></i>                                    
                                </div>                                                          
                            </div>
                        </a>
                    </div>

                </div>
                
    
            </div>
        </div>

        
        <footer class="footer">
            
        </footer>
        <script src="../../../mygunplalist/RecursosGenerales/jquery-3.6.0.js"></script>
        <script src="../../../mygunplalist/RecursosGenerales/menu/menu.js"></script>
        <script src="../../../mygunplalist/view/modelKits/modelKits.js"></script>
    </body>
</html>