body{
    
}
button{
    font-family: 'mecha';
}
.principalBackground{
    width: 100%;
    background: url("../../../mygunplalist/RecursosGenerales/img/wallpaperModelKits.webp") no-repeat center center fixed;
    background-size: cover;
}
/*CONTENIDO*/
.content{
    width: 90%;
    background: #ffffffb8;
    margin-left: 5%;
    padding-top: 50px;
    margin-top: 93px;
    padding-bottom: 50px;
    min-height: 93vh;
}
/*TITULO PRINCIPAL*/
.tituloPrincipal{
    font-family: 'mecha';
    background: linear-gradient(90deg, rgba(24,75,186,1) 15%, rgba(51,153,255,1) 30%, rgba(51,153,255,0) 100%);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tituloPrincipal h1{
    width: 100%;
    height: 80%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    font-size: 4em;
    color: #E60B0B;
    border-bottom: 10px solid #FFD500;
}
/*SUBTITULO*/
.subtitulo{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgba(24,75,186,1) 15%, rgba(51,153,255,1) 30%, rgba(51,153,255,0) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
/*TOOGLE RANKING*/
.toogleRanking{
    margin-left: 5%;
    width: 90%;
    height: 80%;
    background-color: #2A3439;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 25px #000000;
    position: relative;
}
.btnToogleRanking{
    width: 20%;
    height: 70%;
    background-color: #E60B0B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.35s;
    position: absolute;
    top: 15%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .btnToogleRanking:hover{
    animation: tooglePopularidad 1s ease;
} */
#txtBtnToogleRanking{
    margin: 0px;
    font-family: 'mecha';
    font-weight: 700;
    font-size: 1.3em;
}

@keyframes tooglePopularidad {
    0%{
        left: 1%;
        transform: rotateX(0deg); 
        background-color: #E60B0B;
    }
    25%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(180deg);
    }
    75%{
        transform: rotateX(360deg);
    }
    100%{
        left: 79%;
        transform: rotateX(360deg);
        background-color: #184BBA;
    }
}
@keyframes toogleNota {
    0%{
        left: 79%;
        transform: rotateX(360deg);
        background-color: #184BBA;
    }
    25%{
        transform: rotateX(360deg);
    }
    50%{
        transform: rotateX(180deg);
        color: white;
    }
    75%{
        transform: rotateX(0deg);
    }
    100%{
        left: 1%;    
        transform: rotateX(0deg);    
        background-color: #E60B0B;
    }
}
/*MODEL KITS*/
.modelKits{
    margin-top: 60px;
}
/*header*/
.modelKitsHeader{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid #2A3439;
    background-color: #2a3439db;
    color: white;
    border-radius: 5px 5px 0px 0px;
}
.w125{
    width: 12.5%;
}
.w50{
    width: 50%;
}
.modelKitsHeader h2{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'mecha';
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.borderRL{
    border-right: 2px solid #2A3439;
    border-left: 2px solid #2A3439;
}
/*model kit*/
.modelKit{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
    border-left: 3px solid #2A3439;
    border-right: 3px solid #2A3439;
    border-bottom: 2px solid #2A3439;
    background: #ffffffc7;
}
.par{
    background-color: #e7e7e7;
}
#lastModelKit{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
    border-left: 3px solid #2A3439;
    border-right: 3px solid #2A3439;
    border-bottom: 3px solid #2A3439;
    border-radius: 0px 0px 5px 5px;
}
.datoNota{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'mecha';
    font-size: 4em;
    text-shadow: 5px 5px black;
    color: #E60B0B;
}
.datoPopularidad{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'mecha';
    font-size: 4em;
    text-shadow: 5px 5px black;
    color: #184BBA;
}

.puesto1, .nota1{
    color: goldenrod;
}
.puesto2, .nota2{
    color: silver;
}
.puesto3, .nota3{
    color: #cd7f32;
}
.divImgDatos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img{
    height: 80%;
    width: 40%;
    margin-left: 1%;
    background: url("http://localhost/mygunplalist/imagenes/modelKits/37/imgCaja/caja.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
}
.noImagen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datosModelKit{
    width: 57%;
    margin-left: 3%;
    font-family: 'mecha';   
    
}
.datosModelKit p{
    font-style: italic;
}
.nombre a{
    text-decoration: none;
    color: #2A3439;
    transition: 0.35s;
    cursor: pointer;  
}
.nombre a:hover{
    color: #E60B0B;

}
/*estado*/
.contenedorPuestoEstado{
    display: flex;
    align-items: center;
}
.contenedorEstado{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    border-radius: 5px;
    color: #e60b0bb5;
    border: 2px solid #2A3439;
    background-color: #2a3439b8;
    font-size: 1.2em;
    font-family: 'mecha';
    transition: 0.35s;
    margin-left: 10%;
    
}
.contenedorEstado i{
    font-size: 1.5em;
}
.contenedorEstado p{
    margin-bottom: 0px;
    margin-left: 5%;
}
.addMisGunplas{
    color: #e60b0bb5;
    background-color: #2a3439b8;
    cursor: pointer;
}
.addMisGunplas:hover{
    color: #E60B0B;
    background-color: #2a3439d6;
}
.enLista{
    color: #2A3439;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.523);
}
.enBacklog{
    color: #2A3439;
    border: 2px solid #3399ff;
    background-color: #3399ff82;
}
.enConstruccion{
    color: #2A3439;
    border: 2px solid rgb(159, 159, 159);
    background-color: rgb(192, 192, 192);
}
.terminado{
    color: #2A3439;
    border: 2px solid #99ff00;
    background-color: #99ff0087;
}




/*PAGINADO*/
.paginado{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.contenedorPaginado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    color: white;
    border-radius: 5px;
    background-color: #2a343987;
    border: 2px solid #2A3439;
}
.datosPaginado{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #2A3439;
}
.btnPagina{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    cursor: pointer;
    height: 100%;
    transition: 0.35s;
    font-size: 2em;
}
.btnPagina:hover{
    background: white;
    color: #E60B0B;
}
.datosPaginado p{
    margin: 0px;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
#elements{
    font-family: 'mecha';
    margin-left: 5%;
    margin-right: 5%;
    color: #FFD500;
}
#totalElements{
    font-family: 'mecha';
    margin-left: 5%;
    color: #FFD500;
}

