@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('../../../mygunplalist/RecursosGenerales/fonts/pdark.ttf');
@font-face {
     font-family:"mecha"; 
     src: url("../../../mygunplalist/RecursosGenerales/fonts/pdark.ttf") format("truetype"); 
    }

h1{
    font-family: "mecha";
}
.login .group input[type=text], .login .group input[type=password] {
  width: 100%;
  border: none;
  color: #2A3439;
  padding: 14px 10px 14px 45px;
  margin-top: 20px;
  background-color: white !important;
  z-index: 2;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
}
.login .group input[type=text]:focus + label::before, .login .group input[type=password]:focus + label::before {
  width: 100%;
}

.register .group input[type=text], .register .group input[type=password] {
  width: 100%;
  border: none;
  color: #2A3439;
  padding: 14px 10px 14px 45px;
  margin-top: 20px;
  background: white;
  z-index: 2;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
}
.register .group input[type=text]::-moz-placeholder, .register .group input[type=password]::-moz-placeholder {
    color: #2A3439;
}
.register .group input[type=text]:-ms-input-placeholder, .register .group input[type=password]:-ms-input-placeholder {
    color: #2A3439;
}
.register .group input[type=text]::placeholder, .register .group input[type=password]::placeholder {
    color: #2A3439;
}
.register .group input[type=text]:focus + label::before, .register .group input[type=password]:focus + label::before {
  width: 100%;
}

.panel .register input[type=submit], .panel .login input[type=submit] {
  align-self: flex-start;
  margin-top: 20px;
  padding: 10px 0;
  width: 150px;
  background: transparent;
  border-radius: 0 5px 5px 0;
  border-left: none !important;
  letter-spacing: 1px;
  cursor: pointer;
}

@-webkit-keyframes loginOpen {
  0% {
    transform: translateX(140px);
  }
  50% {
    transform: translateX(-145px);
  }
  100% {
    transform: translateX(140px);
    z-index: -1;
  }
}

@keyframes loginOpen {
  0% {
    transform: translateX(140px);
  }
  50% {
    transform: translateX(-145px);
  }
  100% {
    transform: translateX(140px);
    z-index: -1;
  }
}
@-webkit-keyframes registerOpen {
  0% {
    transform: translateX(-140px);
  }
  50% {
    transform: translateX(145px);
  }
  100% {
    transform: translateX(-140px);
  }
}
@keyframes registerOpen {
  0% {
    transform: translateX(-140px);
  }
  50% {
    transform: translateX(145px);
  }
  100% {
    transform: translateX(-140px);
  }
}
@-webkit-keyframes loginClose {
  0% {
    transform: translateX(140px);
    z-index: -1;
  }
  50% {
    transform: translateX(-145px);
  }
  100% {
    transform: translateX(140px);
    z-index: 1;
  }
}
@keyframes loginClose {
  0% {
    transform: translateX(140px);
    z-index: -1;
  }
  50% {
    transform: translateX(-145px);
  }
  100% {
    transform: translateX(140px);
    z-index: 1;
  }
}
@-webkit-keyframes registerClose {
  0% {
    transform: translateX(-140px);
  }
  50% {
    transform: translateX(145px);
  }
  100% {
    transform: translateX(-140px);
  }
}
@keyframes registerClose {
  0% {
    transform: translateX(-140px);
  }
  50% {
    transform: translateX(145px);
  }
  100% {
    transform: translateX(-140px);
  }
}
* {
  box-sizing: border-box;
}

input {
  outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    border-bottom: 30px solid #2A3439;
    box-shadow: inset 0em -1em 5px #2a3439;
    background: white;
}

.bg {
  width: 100%;
  height: 70vh;
  background: url("../../../mygunplalist/RecursosGenerales/img/fondoLogin.jpg");
  position: absolute;
  top: -80px;
  left: 0;
  padding-bottom: 80px;
  box-sizing: initial;
  z-index: -1;
  transform: skewY(5deg);
  background-size: cover;
}

.panel {
  width: 853px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel .login {
  width: 400px;
  height: 506px;
  background: linear-gradient(to bottom, #184bba 50%, #3399ff 100%);
  box-shadow: 5px 14px 20px 0 #3399ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(140px);
  position: relative;
  z-index: 1;
  transition: filter 0.5s;
}
.panel .login input[type=submit] {
    border: #FFD500 solid 1px;
    color: #FFD500;
    transition: 0.35s;
    font-family: "mecha";
}
.panel .login input[type=submit]:hover {
    border: #FFD500 solid 1px;
    background: #FFD500;
    color: #2A3439;
}
.panel .register {
  transform: translateX(-140px);
  position: relative;
}
.panel .register .button-open, .panel .register .button-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: transform 0.4s;
  z-index: 9;
}
.panel .register .button-open::before, .panel .register .button-close::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #ffffff;
  left: 10px;
}
.panel .register .button-open::after, .panel .register .button-close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #ffffff;
  left: 10px;
  transform: rotate(90deg);
}
.panel .register .inner {
  filter: blur(5px);
  background: linear-gradient(to bottom, #990000 0%, #e60b0b 100%);
  box-shadow: 5px 14px 20px 0 #e60b0b;
  width: 100%;
  width: 454px;
  height: 587px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: filter 0.5s;
}
.panel .register input[type=submit] {
    border: #2A3439 solid 1px;
    color: #2A3439;
    font-family: "mecha";
    transition: 0.35s;
}
.panel .register input[type=submit]:hover {
    border: #2A3439 solid 1px;
    color: #E60B0B;
    background: #2A3439;
    font-family: "mecha";
}

.register h1 {
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 0;
  color: #2A3439;
}

.register .group {
  width: 100%;
  position: relative;
}
.register .group i {
  color: #2A3439;
  position: absolute;
  top: 36px;
  left: 15px;
  z-index: 3;
  font-size: 13px;
  opacity: 0.8;
}
.register .group label {
  display: block;
  position: absolute;
  width: 100%;
  height: 45px;
  z-index: 1;
  background: #f69492;
  top: 19px;
}
.register .group label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #2A3439;
  transition: width 0.5s;
}

.login h1 {
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 0;
  color: #FFD500;
}

.login .group {
  position: relative;
  width: 100%;
}
.login .group i {
  color: #2A3439;
  position: absolute;
  top: 36px;
  left: 15px;
  z-index: 3;
  font-size: 13px;
  opacity: 0.8;
}
.login .group label {
  display: block;
  position: absolute;
  width: 100%;
  height: 45px;
  z-index: 1;
  background: #42475f;
  top: 19px;
}
.login .group label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #FFD500;
  transition: width 0.5s;
}

.button-close {
  visibility: hidden;
}

input[id=switch-open]:checked ~ .login {
  filter: blur(5px);
  -webkit-animation: loginOpen forwards 0.8s;
          animation: loginOpen forwards 0.8s;
}
input[id=switch-open]:checked ~ .register {
  -webkit-animation: registerOpen forwards 0.8s;
          animation: registerOpen forwards 0.8s;
}
input[id=switch-open]:checked ~ .register > .inner {
  filter: blur(0);
}
input[id=switch-open]:checked ~ .register .button-open {
  visibility: hidden;
  transform: rotate(45deg);
}
input[id=switch-open]:checked ~ .register .button-close {
  visibility: visible;
  transform: rotate(45deg);
}

input[id=switch-close]:checked ~ .login {
  -webkit-animation: loginClose forwards 0.8s;
          animation: loginClose forwards 0.8s;
}
input[id=switch-close]:checked ~ .register {
  -webkit-animation: registerClose forwards 0.8s;
          animation: registerClose forwards 0.8s;
}
input[id=switch-close]:checked ~ .register > .inner {
  filter: blur(5px);
}

input[type=radio] {
  display: none;
}

/*LOGO RETORNO HOME*/
.logo{
    position: absolute;
    bottom: 8%;
    left: 2%;
}
.logo g{
    transition: 0.35s;
}

/*TOAST*/
#toast{
  color: #2A3439;
}

/*SHAKE ANIMATION*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}